* {
  margin: 0 auto;
  padding: 0;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

img {
  max-width: 100%;
  height: 100vh;
}
#container a {
  text-decoration: none;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;

  .ion-no-padding {
    // border: 1px solid black;
    height: 100vh;
    width: 100%;

    img {
      width: inherit;
      // border: 2px dashed pink;
      height: 100%;
    }
  }

  .form-col {
    font-size: small;
    width: 50%;
    padding: 0 7rem;
    text-align: center;
    display: grid;
    text-justify: center;
    .custom-input {
      max-width: 14.5rem;
      margin-bottom: 0.1rem;
      padding: 0 5rem;
      padding-top: 0.5rem;
    }
    .btnCredentials{
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      width: 40%;
    }
  }
}





// ion-input.custom-input {
//   --min-width: 9.375rem;
// }

.text {
  padding-top: 1.9rem;
}
p {
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .custom-input {
    width: 80%;
  }
}